html {
    width: 100%;
}

body{
    overflow-x: hidden !important;
    text-align: right;
    font-family: 'Tajawal', sans-serif !important;
}
p{
    font-family: 'Tajawal', sans-serif !important;
}


/* Hide everything under body tag */

/*body.show-spinner>* {*/
/*    opacity: 0;*/
/*}*/


/* Spinner */

/*body.show-spinner::before {*/
/*    content: " ";*/
/*    display: inline-block;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border: 2px solid rgba(0, 0, 0, 0.2);*/
/*    border-radius: 50%;*/
/*    border-top-color: rgba(0, 0, 0, 0.3);*/
/*    animation: spin 1s ease-in-out infinite;*/
/*    -webkit-animation: spin 1s ease-in-out infinite;*/
/*    left: calc(50% - 15px);*/
/*    top: calc(50% - 15px);*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*}*/

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.navbar,
main,
.landing-page {
    direction: rtl;
}

.owl-container,
.Slick.Slider {
    direction: ltr;
}
/* ======================== CUSTOM PART AwaDy Style ============================= */
ul#ui-id-1 {
    background-color: #fff;
    width: 375px !important;
    padding: 15px 10px;
    border: 1px solid #d7d7d7;
    list-style: none;
}
ul#ui-id-1 li.ui-menu-item .ui-state-active{
    background-color: #145388;
    color: #fff;

}
ul#ui-id-1 li.ui-menu-item .ui-menu-item-wrapper{
    padding: 10px 5px;
    border-radius: 4px;
}






ul.bs-autocomplete-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    z-index: 9999;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
}

ul.bs-autocomplete-menu a {
    font-weight: normal;
    color: #333333;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-state-active,
.ui-state-focus {
    color: #23527c;
    background-color: #eeeeee;
}

.bs-autocomplete-feedback {
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    margin-top: .5em;
    margin-right: .5em;
}

.loader {
    font-size: 10px;
    text-indent: -9999em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #333;
    background: -moz-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #333333 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #333;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.autocomplete-suggestions {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 2px 6px #ccc;
    border: 1px solid #d7d7d7;
}

.autocomplete-suggestion {

    padding: 10px;
    color: #145388;
    border-radius: 5px;
}
.autocomplete-suggestion.autocomplete-selected{
    background-color: #145388;
    color: #fff;
}
.logo_biiling{}
.logo_biiling img{
    width: 55%;
    clear: both;
    margin: 0 auto;
    display: block;
}
.logo_biiling h1{
    display: block;
    text-align: center;
    margin: 24px 0;
    font-size: 40px;
    font-weight: bold;
}
.table-height{
    max-height: 500px;
    overflow: auto;
}

.table-height::-webkit-scrollbar {
    width: 5px;

}

/* Track */
.table-height::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Handle */
.table-height::-webkit-scrollbar-thumb {
    background: #145388;
    border-radius: 25px;
}

/* Handle on hover */
.table-height::-webkit-scrollbar-thumb:hover {
    background: #143958;
    border-radius: 25px;
}
.navbar .navbar-logo .logo{
    background: url(../img/logo/logo.png) no-repeat !important;
    background-size: 130px !important;
    width: 135px !important;
}
.modal-body{}
.modal-body h4{
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
    color: #145388;
    font-weight: bold;
}
.modal-body i{
    width: 100px;
    height: 100px;
    display: block;
    line-height: 100px;
    text-align: center;
    border: 3px solid #145388;
    border-radius: 50%;
    font-size: 40px;
    margin: 0 auto;
    color: #145388;
    font-weight: bold;
}
.deleted_row{
    background-color : #4a4a4a;
    color : white;
}
.code_bi{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
}
.col-custom label{
    width: 29%;
    display: inline-block;
}
.col-custom input{
    width: 70%;
    display: inline-block;
    text-align: center;
}
.col-custom select{
    width: 76% !important;
    display: inline-block;
}

.col-custom > span {
    width: 70% !important;
    display: inline-block;
    text-align: center;
}

th {
    vertical-align: middle !important;
}

.content_home {
}

.content_home ul {
}

.content_home ul li {
    display: inline-block;
    width: 24%;
    margin: 0px 4% !important;
}

.content_home ul li a {
    display: block;
    font-weight: 500;
}

.content_home ul li a i {
    color: #CCCCCC;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.content_home ul li a:hover i {
    color: #fff;
}

.content_home ul li a:hover {
    background-color: #0c3253 !important;
    color: #fff;
}

.card-title {
    text-align: center;
    font-size: 20px;
    width: fit-content;
    margin: 25px auto;
    background-color: #145388;
    padding: 15px;
    color: #fff;
    border-radius: 50px;
}

.card-title span {
    font-weight: bold;
    background-color: #fff;
    color: #145388;
    padding: 0 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 12px 6px rgba(225, 225, 225, 0.35);
}

button.create {
    width: 165px;
    border-radius: 50px;
    display: inline-block;
}

a.btn-danger {
    color: #fff;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
