/*--------------- Media Print ---------------- */

@media print {
    body{
        direction: rtl !important;
    }

    .head_print .logo_print img {
        width: 150px !important;
        margin-top: 40px !important;
    }
    .answer, h3.title_Q.remove{
        display: none;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: right;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }

    body{
        zoom: 60%
    }
    .print-custom{
        display: none !important;
    }
    #tab_logic_total{
        margin-top: 0 !important;
    }
    .table-height {
        max-height: inherit !important;
    }
    .col-md-3, .col-md-9{
        max-width: 100%;
        width: 100%;
        flex: 100%;
    }
    .form-control, .bootstrap-tagsinput{
        /*border: 0 !important;*/
    }
    span.select2-selection__arrow {
        display: none !important;
    }

    .col-custom input, .col-custom > span, .col-custom > span span span {
        height: 40px !important;
        line-height: 40px;
        padding: 0 !important;
    }

    .th-print {
        padding-top: 22px !important;
    }

    button.create {
        display: none !important;
    }


}
@page {
    size:  A4;
    margin: 50cm 0.3cm;

}
